@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
body{
    background-color: whitesmoke;
}

.topbar{
    right: 0 ;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 2000;
    height: fit-content;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

li, a, button{
    font-family: 'Shadow into Light';
    font-size: 16px;
    color: white;

}

.heading1{
    color: white;
    font-family: 'Monoton';
    font-size: xx-large;
    font-weight: 200;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links, a, li{
    transition: all 0.5s ease 0s;
}

.nav_links, li, a:hover{
    color:burlywood
}

button{
    padding: 9px 25px;
    background-color: burlywood;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

button:hover{
    background-color: burlywood;
    opacity: 0.5;
}

.heading2{
    z-index: 2;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
    font-family: 'Shadows Into Light';
    font-size: x-large;
    font-weight: 600;
}

.heading2:hover{
    color: burlywood;
}

.Layout_scroll{
    z-index: 2;
    margin-left: 5%;
    margin-right: 5%;
    border: solid black 5px;
    width: 90%;
    height: auto;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.inner_layout{
    max-width: 80%;
    border-bottom: solid black;
    border-top: solid black;
    padding: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
}

.first_inner_layout{
    max-width: 80%;
    border-bottom: solid black;
    padding: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
}
p{
    display: inline-block;
    margin: 30px 0 30px 50px;
}

.gallery_img{
    display: inline-block;
    margin: 30px;
    cursor: crosshair;
    max-width: 80%;
    max-height: 80%;
}
.gallery_img:hover{
    transition-timing-function: ease-out;
    transition-duration: 1.5s;
    transform: scale(105%);
}

.about_img{
    transform: scale(20%);
    float:inline-end;
}

.copyright{
    bottom: 0;
    margin-left: 5%;
    font-family: 'Shadows Into Light';
    color: rgb(34, 34, 34);
    font-size: 24px;
    font-weight: 600;
}
.copyright:hover{
    color: burlywood;
}